<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/estilo-more-Details.css" th:href="@{/style/estilo-more-Details.css}">


    <title>Cadastro Empresa</title>
</head>

<body>

<div class="space-menu">

</div>

<div class="container">
    <div class="left-div-ghost">
        <div class="left-div">

            <form th:action="@{/cadastro}" method="POST" th:object="${business}">

                <div style="background-color: rgba(255, 255, 255, 0.15); display:flex; flex-direction: column; padding: 5rem; border-radius: 20px;">

                    <label for="">Username:</label>
                    <input type="text" name="username" th:field="*{user.username}" required>

                    <label for="">Nome da empresa:</label>
                    <input type="text" name="name" th:field="*{name}" required>

                    <label for="">Website:</label>
                    <input type="text" name="website" th:field="*{website}" required>

                    <label for="">Endereço:</label>
                    <input type="text" name="endereco" th:field="*{address}" required>

                    <label for="">Senha:</label>
                    <input type="password" name="password" th:field="*{user.password}" required>


                    <div th:style="'display:flex'">
                        <button class="BuyBtton" type="submit">
                            Cadastrar
                        </button>
                        <div th:style="'margin-top:1.5rem; margin-left:2rem; color: '">
                            <a href="/login" th:style="'color:white; text-decoration:none;'">Fazer login</a>
                        </div>
                    </div>

                </div>


            </form>


        </div>
    </div>
</div>
<div class="right-div">


    <div style="width: 100%; height: 20rem;display: flex; justify-content:center; ">

        <img src="../DOE +(1).png" alt="" th:src=@{/images/doemais.png}>

    </div>


</div>
<script src="assets/js/nav-bar.js" th:href="@{/Javascript/nav-bar.js}"></script>
<script>
</script>

</body>

</html>