<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ERROR</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/404-NOT-FOUND-animated.css" th:href="@{/css/404-NOT-FOUND-animated.css}">
</head>

<body>
<div class="row">
    <main class="page contact-page">
        <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
            <div class="container">
                <body class="bg-purple">

                <div class="stars">
                    <div class="central-body">
                        <img class="image-404" src="../static/img/muppers/404.svg" th:src="@{/img/muppers/404.svg}"
                             width="300px">
                        <a href="/" class="btn-go-home">Voltar para o inicio</a>
                    </div>
                    <div class="objects">
                        <img class="object_rocket" src="../static/img/muppers/rocket.svg"
                             th:src="@{/img/muppers/rocket.svg}" width="40px">
                        <div class="earth-moon">
                            <img class="object_earth" src="../static/img/muppers/earth.svg"
                                 th:src="@{/img/muppers/earth.svg}" width="100px">
                            <img class="object_moon" src="../static/img/muppers/moon.svg"
                                 th:src="@{/img/muppers/earth.svg}" width="80px">
                        </div>
                        <div class="box_astronaut">
                            <img class="object_astronaut" src="../static/img/muppers/astronaut.svg"
                                 th:src="@{/img/muppers/astronaut.svg}" width="140px">
                        </div>
                    </div>
                    <div class="glowing_stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>

                </div>

                </body>
            </div>
        </section>
    </main>
</div>
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>