<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Style/nav-bar.css" th:href="@{/style/nav-bar.css}">
    <link rel="stylesheet" href="../Style/estilo-lista-eventos.css" th:href="@{/style/estilo-lista-eventos.css}">
    <link rel="stylesheet" href="../Style/footer.css" th:href="@{/style/footer.css}">
    <link rel="stylesheet" href="../Style/pagination.css" th:href="@{/style/pagination.css}">
</head>

<body>

<nav>
    <a class="logo" href="/index"><img th:src="@{/images/doemais.png}" th:style="'margin-top:1.5rem; width:13rem;'"></a>

    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-list">
        <li><a href="/index">Início</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/pedidos" sec:authorize="hasRole('ROLE_ONG')">Meus pedidos</a></li>
        <li><a href="/parceiros">Parceiros</a></li>
        <li><a href="/cadastro-produto" sec:authorize="hasRole('ROLE_BUSINESS')">Cadastrar Produtos</a></li>
    </ul>

    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<div style="background-color: #FFFF;">

    <div class="evento-destaque" th:style="'background: url(/images/banner-doacao.jpg); object-fit: cover;'">

    </div>

    <div style="display:flex; justify-content: center; align-items: center;">
        <hr style="margin: 1.5rem; width: 30%">

        <h3>Empresas Parceiras</h3>

        <hr th:style="'margin: 1.5rem; width: 30%'">


    </div>

    <div style="display:flex; justify-content: center;">

        <div class="divEvento" th:each="bu : ${business}">
            <img style="font-size: small" th:src="@{/images/empresa-1.jpeg}" width="160" height="160"
                 alt="foto"/>
            <ul>
                <label style="font-size: small">Nome da empresa</label>
                <li th:text="${bu.name}"></li>
                <label style="font-size: small">Qtd produtos cadastrados</label>
                <li class="local" th:text="${bu.products.size}"></li>
            </ul>
        </div>

    </div>


</div>
<nav aria-label="Pagination" th:if="${pag.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${pag.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/?page={id}(id=${pag.number lt 2 ? 1 : pag.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq pag.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, pag.totalPages, 1)}">
            <a class="page-link" th:href="@{/?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${pag.number + 1 eq pag.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/?page={id}(id=${pag.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<script src="../Javascript/nav-bar.js" th:href="@{/Javascript/nav-bar.js}"></script>
</body>

</html>