<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Style/nav-bar.css">
    <link rel="stylesheet" href="../Style/estilo-lista-eventos.css">
    <link rel="stylesheet" href="../Style/footer.css">
</head>

<body>

    <nav>
        <a class="logo" href="/"><img src="../DOE +(1).png" style="margin-top:1.5rem; width:13rem;" srcset=""></a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index.html">Início</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="pedidos.html">Meu carrinho</a></li>
            <li><a href="parceiros.html">Parceiros</a></li>
        </ul>
        <ul>
            <li><a href="index.html">Logout</a></li>
        </ul>
    </nav>

    <div style="background-color: #FFFF;">

        <div class="evento-destaque" style="background-image: url(../shopping-cart-abandonment.webp);object-fit: cover; padding-top: 5rem; ">

        </div>

        <div style="display:flex; justify-content: center; align-items: center;">
            <hr style="margin: 1.5rem; width: 30%">

            <h3>Meus produtos</h3>

            <hr style="margin: 1.5rem; width: 30%">


        </div>

        <div style="display:flex; justify-content: center; margin-bottom:4rem;">

            <div class="divEvento">
                <ul>
                    <img src="../badass_banna_lady_by_spyroshan_dcu7n26-fullview.jpg" class="img-responsive">
                    <li>Banana</li>
                    <li class="local">
                        <input type="range" min="5" max="10" step="0.01">
                        <p style="font-weight:32">Quantidade: @{3}</p>
                    </li>
                    <div>
                        <a href="pedidos.html">Atualizar produto</a> <br>
                        <a href="pedidos.html">Abandonar</a>

                    </div>

                </ul>
            </div>

        </div>




    </div>



    <footer>

        <div class="div-1">

        </div>

        <div class="div-2">Copyright@ 2021 Doe+</div>

        <div class="div-3"></div>

    </footer>




    <script src="../Javascript/nav-bar.js"></script>

</body>

</html>