<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Style/nav-bar.css">
    <link rel="stylesheet" href="../Style/estilo-lista-eventos.css">
    <link rel="stylesheet" href="../Style/footer.css">
</head>

<body>

    <nav>
        <a class="logo" href="/"><img src="../DOE +(1).png" style="margin-top:1rem; width:13rem;" srcset=""></a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="index.html">Início</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="pedidos.html">Meu carrinho</a></li>
            <li><a href="parceiros.html">Parceiros</a></li>
        </ul>

        <ul>
            <li><a href="index.html">Logout</a></li>
        </ul>
        <img src="./assets/img/perfil.jpg" style="width:30px; border-radius: 20px;" alt="" srcset="">
    </nav>

    <div style="background-color: #FFFF;">

        <div style="width:100%; height:4rem;">

        </div>

        <div class="evento-destaque" style="background-image: url(../82244490-italian-food-background-pasta-and-meat-long-banner-format-.jpg); ">

        </div>



        <div style="display:flex; justify-content: center;">

            <div class="divEvento">
                <ul>
                    <img src="../empresa-1.jpeg" class="img-responsive">
                    <li>OrganicFarm</li>
                    <li class="local">27 produtos</li>
                    <div class="more-details">
                        <a href="more-Details-Restaurant.html">Adicionar ao carrinho</a>
                    </div>

                    <div>
                        <select name="" id="" style="width: 100%; height: 2rem; align-items: center; display:flex;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </ul>
            </div>

            <div class="divEvento">
                <ul>
                    <img src="../empresa-1.jpeg" class="img-responsive">
                    <li>OrganicFarm</li>
                    <li class="local">27 produtos</li>
                    <div class="more-details">
                        <a href="more-Details-partner.html">Adicionar ao carrinho</a>
                    </div>
                    <div style="width: 100%; height: 2rem; align-items: center; display:flex;">
                        <select name="" id="" style="width: 100%; height: 2rem; align-items: center; display:flex;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </ul>
            </div>

            <div class="divEvento">
                <ul>
                    <img src="../empresa-1.jpeg" class="img-responsive">
                    <li>OrganicFarm</li>
                    <li class="local">27 produtos</li>
                    <div class="more-details">
                        <a href="more-Details-Restaurant.html">Adicionar ao carrinho</a>
                    </div>
                    <div>
                        <select name="" id="" style="width: 100%; height: 2rem; align-items: center; display:flex;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </ul>
            </div>

        </div>

        <footer>

            <div class="div-1">

            </div>

            <div class="div-2">Copyright@ 2021 Doe+</div>

            <div class="div-3"></div>

        </footer>




    </div>


    <script src="../Javascript/nav-bar.js"></script>

</body>

</html>